// FONTS + COLOR
// --------------------------------------------------------------------------------------------- //
$darkblue: #095285;
$lightblue: #1071b6;
$snow: #f4f8fcc0;
$gray-100: #aaaaaa;
$gray-200: #6d6d6d;
$gray-300: #3f3f3f;

$padding-small: 5px;


// NORMALIZE
// --------------------------------------------------------------------------------------------- //
* {
    margin: 0; 
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

table {
    margin: 0;
    padding: 0;
    border: 0;
}


// DEBUGGER
// --------------------------------------------------------------------------------------------- //
// table {border: 1px solid #7d87e0;}
// td {border: 1px solid #a6d3d3;}


// INPUT 
// --------------------------------------------------------------------------------------------- //
input, textarea, select {
    border: 1px solid $gray-100; 
    color: $gray-300;
    width: auto;
    padding: $padding-small;
    box-sizing: border-box;
    height: 28px;
}

input:focus,
textarea:focus,
select:focus {
    background-color: $snow;
    border: 1px solid $lightblue;
    color: #000000;
    outline: none;
}

textarea{
    outline:none;
    transition:all 0.2s ease-in-out;
    line-height: 20px;
    width:100% !important;
    min-width:500px !important;
    height:120px !important;
}

// HTML-ELEMENTS
// --------------------------------------------------------------------------------------------- //
body {
    color: $gray-300;
    padding: $padding-small;
}

header.level1 {
    font-size: 22px;
    margin-bottom: 5px;
    padding: $padding-small;
    color: $darkblue;
    font-weight: bold;
    display: block;
    // background-color: #e2e2e2;
    line-height: 30px;
}

section {
    margin-bottom: 30px;
}

label {
    font-weight: 600;
}

table + table {
    margin-top: 20px;
}

th {
    text-align: left;
    vertical-align: top;
    height: 28px;
    text-decoration: underline;
    padding-right: 15px;
}

td {
    padding-right: $padding-small;
    vertical-align: top;
    height: 30px;
}

// CLASS
// --------------------------------------------------------------------------------------------- //

input.small {
    width: 60px;
}

input.middle {
    width: 100px;
}

input.big {
    width: 220px;
}

/* Modified:  height: 40px */
textarea.ta-small{
    width: 100% !important;
    min-width: 500px !important;
    height: 40px !important;
} 

/* Modified:  height: 80px */
textarea.ta-middle{
    width: 100% !important;
    min-width: 500px !important;
    height: 80px !important;
} 

/* Modified:  height: 120px */
textarea.ta-big{
    width: 100% !important;
    min-width: 500px !important;
    height: 120px !important;
} 

tr.inner > td:nth-child(2) {
    border-left: 2px solid $lightblue;
    padding-left: 8px;
}